<main>
	<header>
		<form>
			<mat-form-field appearance="fill">
				<mat-label>{{"wähle Instanz"|translate}}</mat-label>
				<mat-select [formControl]="instanceNamen">
					<mat-option *ngFor="let instance of instanceNamenList|async" [value]="instance">
						<a mat-list-item routerLink="/instance/{{instance}}">{{instance}}</a>
					</mat-option>
				</mat-select>
			</mat-form-field>
		</form>
	</header>

	<body>
		<span *ngFor="let inst of (instancesObservable|async)">
			<h2>{{"Instanz"|translate}}: {{inst.name | uppercase}}
				<button type="button" (click)="openWarnDialog('all')">{{"Neustart"|translate}}</button>
			</h2>
			<span *ngIf="isRunningOnline(inst.status)">
				<div>
					<table>
						<ng-container *ngFor="let service of inst.services">
							<tr>
								<td>
									<span *ngIf="isRunningGreen(service.status)">
										<ng-container [ngSwitch]="service.status">
											<canvas class="dot_running"> </canvas>
										</ng-container>
									</span>
									<span *ngIf="isRunningYellow(service.status)">
										<ng-container [ngSwitch]="service.status">
											<canvas class="dot_slow"> </canvas>
										</ng-container>
									</span>
									<span *ngIf="isRunningRed(service.status)">
										<ng-container [ngSwitch]="service.status">
											<canvas class="dot_error"> </canvas>
										</ng-container>
									</span>
								</td>
								<td>
									{{service.name}}
								</td>
								<td>
									<button class="neustart-button" type="button"
										(click)="openWarnDialog(service.name)">{{"Neustart"|translate}}</button>
								</td>
							</tr>
							<br>
						</ng-container>
					</table>
				</div>
				<table>
					<ng-container *ngFor="let instan of InstanceGruppen">
						<tr>
							<td>
								{{instan}}:
							</td>
							<td>
								<button type="button" (click)="openWarnDialog(instan)">{{"Neustart"|translate}}</button>
							</td>

						</tr>
					</ng-container>
				</table>
			</span>
			<span *ngIf="!isRunningOnline(inst.status)">
				<h3>{{"Diese Instanz ist offline"|translate}} </h3>
			</span>
		</span>
		<!-- <div *ngIf="instance">
			<h2>{{"Instanz"|translate}}: {{instance.name | uppercase}}
				<button type="button" (click)="openWarnDialog('all')">{{"Neustart"|translate}}</button>
			</h2>
			<div>
				<table>
					<ng-container *ngFor="let service of instance.services">
						<tr>
							<td>
								<ng-container [ngSwitch]="service.status">
									<canvas class="dot_{{service.status}}"> </canvas>
								</ng-container>
							</td>
							<td>
								{{service.name}}
							</td>
							<td>
								<button class="neustart-button" type="button"
									(click)="openWarnDialog(service.name)">{{"Neustart"|translate}}</button>
							</td>
						</tr>
						<br>
					</ng-container>
				</table>
			</div>
			<table>
				<ng-container *ngFor="let instan of InstanceGruppen">
					<tr>
						<td>
							{{instan}}:
						</td>
						<td>
							<button type="button" (click)="openWarnDialog(instan)">{{"Neustart"|translate}}</button>
						</td>

					</tr>
				</ng-container>
			</table>
		</div> -->
	</body>

	<footer>
		<p>
			<button type="button" (click)="goBack()">{{"Zurück"|translate}}</button>
		</p>
	</footer>

</main>