
<h1 mat-dialog-title>Suche Filter aus</h1>
<mat-card-content> 
  <h2>mögliche Instanzen</h2>
  <section [formGroup]="tops" class="example-section" *ngFor="let instanz of instances">
    <p><mat-checkbox formControlName="{{instanz}}">{{instanz}}</mat-checkbox></p>
  </section>
</mat-card-content>

<mat-card-content> 
  <h2>mögliche Services</h2>
  <section [formGroup]="ping" class="example-section" *ngFor="let service of services">
    <p><mat-checkbox formControlName="{{service}}">{{service}}</mat-checkbox></p>
  </section>
</mat-card-content>

<!-- <section class="example-section" [formGroup]="tops">
  <h4>You chose:</h4>
  {{ping.value | json}}
</section> -->

<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="setFilter()">Filtern</button>
</div>
