<div *ngIf="status">
  <h2>{{status.name | uppercase}} Details</h2>
  <div><span>status: </span>{{status.status}}</div>
  <div>
    <label for="Instance-name">Instanz name: {{status.name}}</label>
    <!-- <input name="status-name" [(ngModel)]="status.name" placeholder="Istance name"/> -->
  </div>

  <p>
    <!--These are empty buttons so far, their function needs to be added later-->
    <button type="button" (click)="goBack()">restart</button>
    <button type="button" (click)="goBack">start</button>
    <button type="button" (click)="goBack">end</button></p>
</div>