<span class="badge"></span> 
<button type="button" (click)="openDialog()">Filtern</button>

<input name="instanz" placeholder="Suche"/>
<!--
  ein event, dass ein Link aufgerufen wird, der Link muss aus der Instanz in dem Input feld aufgefüllt werden
  ein dropdown menü 
  potentially mit auto-fil instanz namen ist besser und einfaher zu bedienen
-->

<button type="button" (click)="openDialog()">Suchen</button>

<h2>Die Instanzen: </h2>
<ul class="instanz">
  <span *ngFor="let instanz of instanzen">
    <li *ngIf="isActivated(instanz.name)">
      <a routerLink="/instanz/{{instanz.name}}">
        <span class="badge">{{instanz.name}}</span> </a>
      <br>
      <ng-container *ngFor="let service of instanz.services"> 
        <ng-container *ngIf="isActivated(service.name)">
          <ng-container [ngSwitch]="service.status">
            <canvas *ngSwitchCase="'online'" class="block_green"> </canvas>
            <canvas *ngSwitchCase="'slow'" class="block_yellow"> </canvas>
            <canvas *ngSwitchCase="'error'" class="block_red">  </canvas>
            <canvas *ngSwitchCase="'offline'" class="block_blank"> </canvas>
          </ng-container>
          {{service.name}},
        </ng-container> 
      </ng-container>
    </li>
  </span>
</ul>