<form>
  <mat-form-field appearance="fill">
    <mat-label>wähle Instanz</mat-label>
    <mat-select [formControl]="instanzNamen">
      <mat-option *ngFor="let instanz of instanzNamenList" [value]="instanz">
        <a mat-list-item routerLink="/instanz/{{instanz}}">{{instanz}}</a>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="badge"></span> 
  <button type="button" (click)="openDialog()">Filtern</button>
</form>

<h2>Die Instanzen: </h2>
<ul class="instanz">
  <span *ngFor="let instanz of instanzen">
    <li *ngIf="isActivated(instanz.name)">
      <a routerLink="/instanz/{{instanz.name}}">
        <span class="badge">{{instanz.name}}</span> </a>
      <br>
      <ng-container *ngFor="let service of instanz.services"> 
        <ng-container *ngIf="isActivated(service.name)">
          <ng-container [ngSwitch]="service.status">
            <span *ngSwitchCase="'online'" class="material-symbols-outlined">circle</span>
            <canvas *ngSwitchCase="'slow'" class="block_yellow"> </canvas>
            <canvas *ngSwitchCase="'error'" class="block_red">  </canvas>
            <canvas *ngSwitchCase="'offline'" class="block_blank"> </canvas>
          </ng-container>
          {{service.name}},
        </ng-container> 
      </ng-container>
    </li>
  </span>
</ul>