
<div *ngIf="!isLoggedIn()"><br>
    <input name="user-name" placeholder="Login"/>
    <input type="password" name="passwort" placeholder="Passwort"/>
    <br>
</div>

<! check if logged in >
<div *ngIf="isLoggedIn(); then loginBlock; else logoutBlock"></div>




<! print online/slow/error amounts>
<div *ngIf="arrService">
    <h2>Status von Instanzen</h2>
    <ng-container>
        Online/Slow/Offline:
        <ng-container *ngFor="let number of arrService">
            {{number}}
        </ng-container>
    </ng-container>
</div> 
<br>

<! print if registered running and stopped instances>
<div *ngIf="isLoggedIn()">
    <h2>Laufende Instanzen</h2>
    <ng-container>
        Online/Offline
        <ng-container *ngFor="let number of arrOnline">
            {{number}}
        </ng-container>
    </ng-container>
</div> 
<br>


<ng-template #loginBlock>
    <button type="button" (click)="logout()">logout</button>
</ng-template>

<ng-template #logoutBlock>
    <button type="button" (click)="checkUser(userName,password)">login</button>
</ng-template>


