table {
    border-collapse: collapse;
    margin-left:2px;
}

.bar {
    width: 10px;
    height: 20px;
    padding: 0px;
}

th, tr {
    padding-right:7px;
}

.colorRunning1 {
    width: 10px;
    background-color: black;
}

.colorStatus0, .colorRunning0 {
    width: 10px;
    background-color: green;
}

.colorStatus1 {
    width: 10px;
    background-color: yellow;
}

.colorStatus2 {
    width: 10px;
    background-color: red;
}
.emptyBox {
    width:10px
}