<mat-form-field>
    <mat-label>{{"wähle Instanz"|translate}}</mat-label>
    <input  type="text"  
            aria-label="Instanzen-Liste" 
            matInput
            [formControl]="instanceNamen" 
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let instance of instanceNamenListObs|async" [value]="instance">
            <a mat-list-item routerLink="/instance/{{instance}}" class="whole-box" (click)="resetList()">
                {{instance}}
            </a>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

