h3,
h1 {
    text-align: center;
}

a>span {
    line-break: anywhere;
}

.box-tile {
	display: flex;
	flex-direction: row;
	height: 100%;

}

.area-left {
	width: 20px;
	border-right: 1px solid lightgray;
}

.area-right {
	background-color: white !important;
	width: 100%;
	height: inherit;
	padding-left: 5px;
}