
<a routerLink="/start">
  <span class="badge"></span> 
  <button type="button" (click)="logout()">logout</button>
</a>
<h2>Instanzen aufgeteilt in Statusgruppen </h2>
<div> 
  <h2>Online</h2>
  <li #instanz_yay *ngFor="let instanz of instanzOnline">
    <a routerLink="/instanz/{{instanz.instanz}}">
      <span class="badge">{{instanz.instanz}}</span> 
    </a>
    :{{instanz.service}}
  </li>
</div>
<div> 
  <h2>Slow</h2>
  <li *ngFor="let instanz of instanzSlow">
    <a routerLink="/instanz/{{instanz.instanz}}">
      <span class="badge">{{instanz.instanz}}</span> 
    </a>
    {{instanz.service}}
  </li>
</div>
<div> 
  <h2>Error</h2>
  <li *ngFor="let instanz of instanzError">
    <a routerLink="/instanz/{{instanz.instanz}}">
      <span class="badge">{{instanz.instanz}}</span> 
    </a>
    {{instanz.service}}
  </li>
</div>

<div> 
  <h2>Offline</h2>
  <li *ngFor="let instanz of instanzOffline">
    <a routerLink="/instanz/{{instanz.instanz}}">
      <span class="badge">{{instanz.instanz}}</span> 
    </a>
    {{instanz.service}}
  </li>
</div>
