<form>
	<mat-form-field appearance="fill">
		<mat-label>{{"wähle Instanz"|translate}}</mat-label>
		<mat-select [formControl]="instanceNamen">
			<mat-option *ngFor="let instance of instanceNamenList" [value]="instance">
				<a mat-list-item routerLink="/instance/{{instance}}">{{instance}}</a>
			</mat-option>
		</mat-select>
	</mat-form-field>

	<span class="badge"></span>
	<button type="button" (click)="openDialog()">{{"Filtern"|translate}}</button>
</form>

<h2>{{"Instanzen aufgeteilt in Statusgruppen"|translate}} </h2>
<div>
	<h2>{{"Online"|translate}} <canvas class="dot_online"></canvas></h2>
	<ul>
		<ng-template ngFor let-instance [ngForOf]="instanceOnline">
			<ng-container *ngIf="isActivated(instance.instance)">
				<li *ngIf="isActivated(instance.service)">
					<a routerLink="/instance/{{instance.instance}}">
						<span class="badge">{{instance.instance}}</span>
					</a>
					:&nbsp;{{instance.service}}
				</li>
			</ng-container>
		</ng-template>
	</ul>
</div>
<div>
	<h2>{{"Langsam"|translate}}<canvas class="dot_slow"></canvas></h2>
	<ul>
		<ng-template ngFor let-instance [ngForOf]="instanceSlow">
			<ng-container *ngIf="isActivated(instance.instance)">
				<li *ngIf="isActivated(instance.service)">
					<a routerLink="/instance/{{instance.instance}}">
						<span class="badge">{{instance.instance}}</span>
					</a>
					:&nbsp;{{instance.service}}
				</li>
			</ng-container>
		</ng-template>
	</ul>
</div>
<div>
	<h2>{{"Fehler"|translate}} <canvas class="dot_error"></canvas></h2>
	<ul>
		<ng-template ngFor let-instance [ngForOf]="instanceError">
			<ng-container *ngIf="isActivated(instance.instance)">
				<li *ngIf="isActivated(instance.service)">
					<a routerLink="/instance/{{instance.instance}}">
						<span class="badge">{{instance.instance}}</span>
					</a>
					:&nbsp;{{instance.service}}
				</li>
			</ng-container>
		</ng-template>
	</ul>
</div>

<div>
	<h2>{{"Offline"|translate}} <canvas class="dot_offline"></canvas></h2>
	<ul>
		<ng-template ngFor let-instance [ngForOf]="instanceOffline">
			<li *ngIf="isActivated(instance.instance)">
				<a routerLink="/instance/{{instance.instance}}">
					<span class="badge">{{instance.instance}}</span>
				</a>
			</li>
		</ng-template>
	</ul>
</div>