<main>
	<header>
		<form>
			<app-autocomplete></app-autocomplete>
		</form>
	</header>

	<body class="content">
		<span *ngIf="instancesObservable|async as inst">
			<h2>
				<ng-container *ngIf="timeSubj|async as time">
					<span>
						{{inst.name | uppercase}}
					</span>
					<button type="button" class="neustart-button" (click)="openWarnDialog('all')" [disabled]="time.min > 0 || time.sec > 0">
						<mat-icon aria-label="restart-button">
							<img class="img-responsive" src="assets/img/change_circle.svg" height="25">
						</mat-icon>
					</button>
					<ng-container *ngIf="time.min > 0 ||time.sec > 0">
						<mat-icon>
							<img class="img-responsive" src="assets/img/timer_on.svg" height="25">
						</mat-icon>
					</ng-container>
					<ng-container *ngIf="time.min === 0 && time.sec === 0">
						<mat-icon>
							<img class="img-responsive" src="assets/img/timer_off.svg" height="25">
						</mat-icon>
					</ng-container>
					<ng-container *ngIf="time.min < 0 || time.sec < 0">
						<mat-icon>
							<img class="img-responsive" src="assets/img/timer_error.svg" height="25">
						</mat-icon>
					</ng-container>
					<span>
						{{time.min}}:{{time.sec}}
					</span>
				</ng-container>
			</h2>
			<span *ngIf="!isRunningOffline(inst.status)">
				<ng-container>
					<table class="restart-content">
						<!-- Groups ----------------------------->
						<tr *ngFor="let instan of instanceGruppen">
							<!-- <td>
								<button class="dummy_style" (click)="getGroupStatus(instan)">
									<canvas class="dot_dummy"> </canvas>
								</button>
							</td> -->
							<td>
								<span *ngIf="!isEveryMemberValid(instan)">
									<mat-chip class="backgroundPink" selected>
										{{instan.group}}
									</mat-chip>
								</span>
								<span *ngIf="isEveryMemberValid(instan)">
									<span *ngIf="isRunningGreen(getGroupStatus(instan))">
										<mat-chip class="backgroundGreen" selected>
											{{instan.group}}
										</mat-chip>
									</span>
									<span *ngIf="isRunningYellow(getGroupStatus(instan))">
										<mat-chip class="backgroundYellow" selected>
											{{instan.group}}
										</mat-chip>
									</span>
									<span *ngIf="isRunningRed(getGroupStatus(instan))">
										<mat-chip class="backgroundRed" selected>
											{{instan.group}}
										</mat-chip>
									</span>
								</span>
							</td>
							<td>
								<button type="button" class="neustart-button" (click)="openWarnDialog(instan.group)">
									<mat-icon aria-label="restart-button">
										<img class="img-responsive" src="assets/img/change_circle.svg" height="25">
									</mat-icon>
								</button>
							</td>
							<td>
								<button class="info-button" type="button" (click)="openInfoDialog(instan.group)">
									<mat-icon aria-label="restart-button">
										<img class="img-responsive" src="assets/img/info_icon.svg" height="25">
									</mat-icon>
								</button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<!-- Services ------------------------ -->
						<tr *ngFor="let service of inst.services">
							<!-- <td>
								<span *ngIf="isRunningGreen(service.status)">
									<ng-container [ngSwitch]="service.status">
										<canvas class="dot_running"> </canvas>
									</ng-container>
								</span>
								<span *ngIf="isRunningYellow(service.status)">
									<ng-container [ngSwitch]="service.status">
										<canvas class="dot_slow"> </canvas>
									</ng-container>
								</span>
								<span *ngIf="isRunningRed(service.status)">
									<ng-container [ngSwitch]="service.status">
										<canvas class="dot_error"> </canvas>
									</ng-container>
								</span>
							</td> -->
							<td>
								<mat-chip-set *ngIf="isRunningYellow(service.status)">
									<mat-chip class="backgroundYellow" selected> {{service.name}}</mat-chip>
								</mat-chip-set>
								<mat-chip-set *ngIf="isRunningRed(service.status)">
									<mat-chip class="backgroundRed" selected> {{service.name}}</mat-chip>
								</mat-chip-set>
								<mat-chip-set *ngIf="isRunningGreen(service.status)">
									<mat-chip class="backgroundGreen" selected> {{service.name}}</mat-chip>
								</mat-chip-set>
							</td>
							<!-- <td>
								<mat-chip>
									{{service.name}}
								</mat-chip>
							</td> -->
							<td>
								<button class="neustart-button" type="button" (click)="openWarnDialog(service.name)">
									<mat-icon aria-label="restart-button">
										<img class="img-responsive" src="assets/img/change_circle.svg" height="25">
									</mat-icon>
								</button>
							</td>
						</tr>
					</table>
				</ng-container>
			</span>
			<span *ngIf="isRunningOffline(inst.status)">
				<mat-chip class="backgroundGrey" selected>
					{{"Diese Instanz ist offline"|translate}}
				</mat-chip>
			</span>
		</span>
	</body>

	<!-- <footer>
		<p>
			<button type="button" (click)="goBack()">{{"Zurück"|translate}}</button>
		</p>
	</footer> -->

</main>