<div *ngIf="isLoggedIn()">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>{{"wähle Instanz"|translate}}</mat-label>
            <mat-select [formControl]="instanceNamen">
                <mat-option *ngFor="let instance of instanceNamenList" [value]="instance">
                    <a mat-list-item routerLink="/instance/{{instance}}">{{instance}}</a>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<!----------------------------->
<ng-container #offlineInfo>
    <!-- Table Content -->
    <div *ngIf="arrService">
        <table>
            <thead>
                <th>{{"Status"|translate}}</th>
                <th>{{"Anzahl"|translate}}</th>
                <th>{{"Farbe"|translate}}</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let NbOfArray of arrService; let i1=index">
                    <tr>
                        <td>{{listStatus[i1]}}</td>
                        <td>{{NbOfArray}}</td>
                        <td class="square_{{listStatus[i1]}}"></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <br>
    {{"Als Bar chart"|translate}}:
    <br>
    <table> 
        <tr>
            <ng-container *ngFor="let array of arrService; let i1=index">
                <ng-container *ngFor="let number of [].constructor(array); let i2=index">
                    <td class="colorStatus{{i1}} bar"></td>
                </ng-container>
            </ng-container>
        </tr>
    </table>
</ng-container>

<br>
<!-- On/Off Trennung -->
<br>

<div #onlineInfo *ngIf="isLoggedIn() && arrOnline">
    <h2>{{"Laufende Instanzen"|translate}} On/Off</h2>
    <br>
    <table>
        <thead>
            <th>{{"Status"|translate}}</th>
            <th>{{"Anzahl"|translate}}</th>
            <th>{{"Farbe"|translate}}</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let NbOfArray of arrOnline; let i1=index">
                <tr>
                    <td>{{listRunning[i1]}}</td>
                    <td>{{NbOfArray}}</td>
                    <td class="square_{{listRunning[i1]}}"></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <br>
    {{"Als Bar chart"|translate}}:
    <br>
    <table>
        <tr>
            <ng-container *ngFor="let array of arrOnline; let i1=index">
                <ng-container *ngFor="let number of [].constructor(array); let i2=index">
                    <td class="colorRunning{{i1}} bar"></td>
                </ng-container>
            </ng-container>
        </tr>
    </table>

</div>
<br>