<html>

<main>
	<span class="content">
		<mat-card-content class="card-content">
			<h1>
				<span>{{"Mögliche Instanzen"|translate}}</span>
				<mat-checkbox color="primary" [(ngModel)]="allInstActiv" (click)="activateAllInst()"
					[disabled]="allInstActiv">
					{{'Aktiviere alle Instanzen'|translate}}
				</mat-checkbox>
				<mat-checkbox color="primary" [(ngModel)]="allInstDeact" (click)="deactivateAllInst()"
					[disabled]="allInstDeact">
					{{'Deaktiviere alle Instanzen'|translate}}
				</mat-checkbox>
			</h1>
			<div>
				<table>
					<tr>
						<td rowspan="2"> Zeige an</td>
						<td class="online-box">
							<mat-checkbox color="primary" [(ngModel)]="online" (click)="switchOnline()">
								{{'Online'|translate}}
							</mat-checkbox>
						</td>
						<td>
							<mat-checkbox color="primary" [(ngModel)]="offline" (click)="switchOffline()">
								{{'Offline'|translate}}
							</mat-checkbox>
						</td>
					</tr>
					<tr>
						<td><mat-checkbox color="primary" [(ngModel)]="fast" (click)="switchFast()">
								{{'Schnell'|translate}}
							</mat-checkbox>
							<mat-checkbox color="primary" [(ngModel)]="slow" (click)="switchSlow()">
								{{'Langsam'|translate}}
							</mat-checkbox>
							<mat-checkbox color="primary" [(ngModel)]="error" (click)="switchError()">
								{{'Error'|translate}}
							</mat-checkbox>
						</td>
					</tr>
				</table>
			</div>
			<app-grid>
				<app-tile [formGroup]="inst" [ngClass]="setInstEmpty()" class="example-section"
					*ngFor="let instance of instances|async">
					<p>
						<mat-checkbox color="primary" formControlName="{{instance}}" (click)="checkBoo(instance)">{{instance}}</mat-checkbox>
					</p>
				</app-tile>
			</app-grid>
		</mat-card-content>

		<mat-card-content class="card-content" *ngIf="comesFromService">
			<h1>
				{{"Mögliche Services"|translate}}
				<mat-checkbox color="primary" [(ngModel)]="allServ" (click)="switchAllServ()">
					{{'Aktiviere/Deaktiviere alle Services'|translate}}
				</mat-checkbox>
			</h1>
			<app-grid>
				<app-tile [formGroup]="serv" class="example-section" *ngFor="let service of services|async">
					<p><mat-checkbox color="primary" formControlName="{{service}}">{{service}}</mat-checkbox></p>
				</app-tile>
			</app-grid>
		</mat-card-content>
	</span>

	<footer>
		<div mat-dialog-actions>
			<button mat-button mat-dialog-close (click)="setFilter()">{{"Filtern"|translate}}</button>
			<button mat-button mat-dialog-close>{{ 'Abbrechen' | translate }}</button>
		</div>
	</footer>
</main>
</html>
