<html>

<body>
	<span class="content">
		<mat-card-content class="card-content">
			<h1>{{"Mögliche Instanzen"|translate}}</h1>
				<app-grid>
					<app-tile [formGroup]="inst" [ngClass]="setInstEmpty()" class="example-section" *ngFor="let instance of instances|async">
						<p><mat-checkbox color="primary" formControlName="{{instance}}">{{instance}}</mat-checkbox></p>
					</app-tile>
				</app-grid>

		</mat-card-content>

		<mat-card-content class="card-content" *ngIf="comesFromService">
			<h1>{{"Mögliche Services"|translate}}</h1>
			<app-grid>
				<app-tile [formGroup]="serv" class="example-section" *ngFor="let service of services|async">
					<p><mat-checkbox color="primary" formControlName="{{service}}">{{service}}</mat-checkbox></p>
				</app-tile>
			</app-grid>
		</mat-card-content>
	</span>

	<footer>
		<div mat-dialog-actions>
			<button mat-button mat-dialog-close (click)="setFilter()">{{"Filtern"|translate}}</button>
			<button mat-button mat-dialog-close cdkFocusInitial>{{ 'Abbrechen' | translate }}</button>
		</div>
	</footer>
</body>

</html>