<mat-select
    #matSelect
    [formControl]="contentForm"
    [panelClass]="{ 'os-search-selector-wider': wider }"
    [errorStateMatcher]="errorStateMatcher"
    (openedChange)="onOpenChanged($event)"
>
    <div class="os-search-selector--input-wrapper" *ngIf="matSelect.panelOpen">
        <input
            matInput
            osAutofocus
            class="background-card"
            [formControl]="searchValueForm"
            placeholder="{{ 'Search' | translate }}"
            (keydown)="$event.stopPropagation()"
        />
    </div>
    <cdk-virtual-scroll-viewport [ngStyle]="{ height: panelHeight + 'px' }" class="vscroll-viewport" minBufferPx="400" maxBufferPx="600" [itemSize]="50">
        <mat-option
            #currentOption
            *cdkVirtualFor="let selectableItem of filteredItemsObservable | async"
            [value]="selectableItem.id"
        >
            {{ selectableItem }}
        </mat-option>
    </cdk-virtual-scroll-viewport>
</mat-select>