<span *ngIf="initiateFilterData()"></span>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="img-responsive" src="assets/img/openslides-logo.svg" height="30px">
    </mat-toolbar>
    <div *ngIf="isLoggedIn(); then loggedInBlock; else loggedOutBlock"></div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="top">
      <div *ngIf="isLoggedIn(); then getLoggedOutBlock; else getLoggedInBlock"></div>
    </mat-toolbar>
    <mat-toolbar color="primary">
      <!-- <div *ngIf="isLoggedIn()"> -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">
            <img class="img-responsive" src="assets/img/menu_black_24dp.svg" height="30">
          </mat-icon>
        </button>
    <!-- </div> -->
      <h1>{{title}}</h1>
      <div *ngIf="!isLoggedIn(); then InputBlock"></div>
    </mat-toolbar>
    <!-- Content: -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ng-templates:-->
<ng-template #loggedOutBlock>
</ng-template> 

<ng-template #loggedInBlock>
  <mat-nav-list>
    <a mat-list-item routerLink="/start">Start</a>
    <a mat-list-item routerLink="/instanz">Instanzen</a>
    <a mat-list-item routerLink="/status">Status</a>
  </mat-nav-list>
</ng-template>

<ng-template #getLoggedOutBlock>
  <span >
    <a routerLink="/start">
      <button type="button" (click)="logout()">logout</button>
    </a>
  </span>
</ng-template>

<ng-template #InputBlock>
  <span>
    <input id="name" type="text" [formControl]="inputName" placeholder="Name">
    <input id="passwort" type="text" [formControl]="inputPassword" placeholder="Passwort">
  </span>
</ng-template>

<ng-template #getLoggedInBlock>
  <span>
    <button type="button" (click)="checkUser()">login</button>
  </span>
</ng-template>