<body class="warn-body">
	<h1 mat-dialog-title>{{"Neustart Warnung" | translate}}!!</h1>
	<mat-card-content>
		<h2>{{"ausgewählter Service:" | translate}} &nbsp; {{this.service}}</h2>
		<section class="warn-section">
			<ng-container>
				{{this.warn}}
			</ng-container>
		</section>
		<section class="hint-section">
			<ng-container>
				{{this.hint}}
			</ng-container>
		</section>
	</mat-card-content>
	<ng-container mat-dialog-actions>
		<button mat-button mat-dialog-close cdkFocusInitial (click)="warning()">
			{{"Service wirklich	Neustarten"|translate}}
		</button>
		<button mat-button mat-dialog-close>{{ "Abbrechen" | translate }}</button>
	</ng-container>
</body>