<main>
	<header>
		<form>
			<app-autocomplete></app-autocomplete>
			<ng-container>
				<span class="badge"></span>
				<button type="button" (click)="openFilterDialog()">{{"Filtern"|translate}}</button>
			</ng-container>
		</form>
	</header>
	<!-- ------------------------------------>

	<body>
		<h2>{{"Die Instanzen"|translate}}: </h2>
		<app-grid>
			<app-tile [ngClass]="setInst(instance.name)"
				*ngFor="let instance of filteredInstancesObservable|async">
				<span>
					<mat-nav-list>
						<a routerLink="/instance/{{instance.name}}">
							<span class="badge">{{instance.name}}</span>
						</a>
					</mat-nav-list>
					<ng-container *ngIf="instance.status === 'stopped'">
						<span> {{"Diese Instanz ist offline"|translate }}</span>
					</ng-container>
					<ng-container *ngIf="!(instance.status === 'stopped') ">
						<ng-container *ngIf="isRunningGreen(getStatus(instance))">
							{{"Alles läuft!"|translate}}
						</ng-container>
						<ng-container *ngIf="isRunningYellow(getStatus(instance))">
							{{"Langsame Services:"|translate}}
							<ul *ngFor="let service of instance.services">
								<li *ngIf="isRunningYellow(service.status)">
									<ng-container>{{service.name}}</ng-container>
								</li>
							</ul>
						</ng-container>
						<ng-container *ngIf="isRunningRed(getStatus(instance))">
							{{"Error Services:"|translate}}
							<ul *ngFor="let service of instance.services">
								<li *ngIf="isRunningRed(service.status)">
									<ng-container>{{service.name}}</ng-container>
								</li>
							</ul>
							<ng-container *ngIf="isRunningYellow(getStatus(instance))">
								{{"Langsame Services:"|translate}}
								<ul *ngFor="let service of instance.services">
									<li *ngIf="isRunningYellow(service.status)">
										<ng-container>{{service.name}}</ng-container>
									</li>
								</ul>
							</ng-container>
						</ng-container>
					</ng-container>
				</span>
			</app-tile>
		</app-grid>
	</body>
</main>