
/* a>span {
	display: table;
	margin: 0 auto;
	font-weight: 1000;
	line-break: anywhere;
} */

.backgroundYellow {
	background-color: #eab102 !important;
}

.backgroundRed {
	background-color: #e80101 !important;
}

