<main>
	<header>
		<form>
			<mat-form-field appearance="fill">
				<mat-label>{{"wähle Instanz"|translate}}</mat-label>
				<mat-select [formControl]="instanceNamen">
					<mat-option *ngFor="let instance of instanceNamenList" [value]="instance">
						<a mat-list-item routerLink="/instance/{{instance}}">{{instance}}</a>
					</mat-option>
				</mat-select>
			</mat-form-field>
			<span class="badge"></span>
			<button type="button" (click)="openFilterDialog()">{{"Filtern"|translate}}</button>
		</form>
	</header>

	<body>
		<h2>{{"Die Instanzen"|translate}}: </h2>
		<ul class="instance">
			<span *ngFor="let instance of instances">
				<li *ngIf="isActivated(instance.name)">
					<a routerLink="/instance/{{instance.name}}">
						<span class="badge">{{instance.name}}</span> </a>
					<br>
					<ng-container *ngIf="instance.running">
						<ng-container *ngFor="let service of instance.services">
							<span class="items" *ngIf="isActivated(service.name)">
								<ng-container [ngSwitch]="service.status">
									<canvas class="dot_{{service.status}}"> </canvas>
								</ng-container>
								{{service.name}}
								&nbsp;
							</span>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="!instance.running">
						<canvas class="dot_offline"> </canvas>
					</ng-container>
				</li>
			</span>
		</ul>
		<h2>{{"Schlechtester Status jeder Instanz"|translate}}: </h2>
		<ul class="instance">
			<span *ngFor="let instance of instances">
				<li *ngIf="whatStatus(instance) && isActivated(instance.name)">
					<a routerLink="/instance/{{instance.name}}">
						<span class="badge">{{instance.name}}</span> </a>
					<br>
					<ng-container [ngSwitch]="whatStatus(instance)">
						<canvas class="dot_{{whatStatus(instance)}}"> </canvas>
					</ng-container>
				</li>
			</span>
		</ul>
	</body>
</main>