<main>
	<header>
		<form>
			<app-autocomplete></app-autocomplete>
			<ng-container>
				<span class="badge"></span>
				<button type="button" (click)="openFilterDialog()">{{"Filtern"|translate}}</button>
			</ng-container>
		</form>
	</header>
	<!-- ------------------------------------>

	<body class="content">
		<h2>{{"Die Instanzen"|translate}}: </h2>
		<app-grid>
			<app-tile [ngClass]="setInst(instance.name)" *ngFor="let instance of filteredInstancesObservable|async">
				<span class="box-tile">
					<span class="area-left"></span>
					<span class="area-right">
						<a routerLink="/instance/{{instance.name}}">
							<mat-nav-list>
								<span class="badge">{{instance.name}}</span>
							</mat-nav-list>
							<ng-container *ngIf="instance.status === 'stopped'">
								<span> {{"Diese Instanz ist offline"|translate }}</span>
							</ng-container>
							<ng-container *ngIf="!(instance.status === 'stopped') ">
								<span *ngIf="isRunningGreen(getStatus(instance))">
									{{"Alles läuft!"|translate}}
								</span>
								<ng-container *ngIf="isRunningYellow(getStatus(instance))">
									<span>{{"Langsame Services:"|translate}}</span>
									<mat-list *ngFor="let service of instance.services">
										<mat-chip-set *ngIf="isRunningYellow(service.status)">
											<mat-chip class="backgroundYellow" selected> {{service.name}}</mat-chip>
										</mat-chip-set>
									</mat-list>
								</ng-container>
								<ng-container *ngIf="isRunningRed(getStatus(instance))">
									<span>{{"Error Services:"|translate}} </span>
									<mat-list *ngFor="let service of instance.services">
										<mat-chip-set *ngIf="isRunningRed(service.status)">
											<mat-chip class="backgroundRed" selected> {{service.name}}</mat-chip>
										</mat-chip-set>
									</mat-list>
									<ng-container *ngIf="getStatusYellow(instance)">
										<span>{{"Langsame Services:"|translate}}</span>
										<mat-list *ngFor="let service of instance.services">
											<mat-chip-set selectable="true" *ngIf="isRunningYellow(service.status)">
												<mat-chip class="backgroundYellow" selected> {{service.name}}</mat-chip>
											</mat-chip-set>
										</mat-list>
									</ng-container>
								</ng-container>
							</ng-container>
						</a>
					</span>
				</span>
			</app-tile>
		</app-grid>
	</body>
</main>