
button {
	margin-right: 8px;
	margin-left: 8px;
}

button:hover {
	background-color: #ffffff;
}

.example-section {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	height: 720px;
	width: auto;
	background-color: white;
}

.card-content {
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	margin-top: 1em;
	text-align: center;
}

p>mat-checkbox {
	line-break: anywhere;
}

footer {
	/* position:relative; */
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.online-box {
	border-right: 1px solid lightgrey;
	text-align: center;
}
