table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-left:2px;
    width: 600px;
    text-align:left;
}

tr {
    padding-right:7px;
}

td, th {
    width: 10px;
    height: 20px;
    padding: 0px;
    overflow: visible;
}

.colorRunning1 {
    background-color: black;
}

.colorStatus0, .colorRunning0 {
    background-color: green;
}

.colorStatus1 {
    background-color: yellow;
}

.colorStatus2 {
    background-color: red;
}