<div *ngIf="instanzen">
  <h2>Instanz: {{instanzen.name | uppercase}} 
      <button type="button" (click)="goBack">Neustart</button>
      <!--
        <button type="button" (click)="goBack">Start</button>
        <button type="button" (click)="goBack">Beenden</button>
      -->
      </h2>
  <div>
    <!-- <label for="Instance-name">Instanz name: {{instanzen.name}} </label> 
      <br>
      -->
    <ng-container *ngFor="let service of instanzen.services" >
      <!-- service.status has to be replaced with colour blob-->
      <ng-container [ngSwitch]="service.status">
        <span *ngSwitchCase="'online'"> {{service.status}} </span>
        <span *ngSwitchCase="'slow'"> {{service.status}}&nbsp;&nbsp; </span>
        <span *ngSwitchCase="'error'"> {{service.status}} </span>
        <span *ngSwitchCase="'offline'"> {{service.status}} </span>
      </ng-container>
      &nbsp;&nbsp;
      {{service.name}},
      <br>
    </ng-container>
    <!-- <input name="status-name" [(ngModel)]="status.name" placeholder="Istance name"/> -->
  </div>

  <p>
    <!--These are empty buttons so far, their function needs to be added later-->
    <button type="button" (click)="goBack()">Zurück</button>
    <button type="button" (click)="goBack">Neustart</button>
    <!--
      <button type="button" (click)="goBack">Start</button>
      <button type="button" (click)="goBack">Beenden</button>
    -->
    
  </p>
</div>