<form *ngIf="isLoggedIn()">
  <mat-form-field appearance="fill">
      <mat-label>wähle neue Instanz</mat-label>
      <mat-select [formControl]="instanzNamen">
          <mat-option *ngFor="let instanz of instanzNamenList" [value]="instanz">
              <a mat-list-item routerLink="/instanz/{{instanz}}">{{instanz}}</a>
          </mat-option>
      </mat-select>
  </mat-form-field>
</form>

<div *ngIf="instanzen">
  <h2>Instanz: {{instanzen.name | uppercase}} 
      <button type="button" (click)="goBack">Neustart</button>
      </h2>
  <div>
    <ng-container *ngFor="let service of instanzen.services" >
      <ng-container [ngSwitch]="service.status">
        <canvas *ngSwitchCase="'online'" class="block_green"> {{service.status}} </canvas>
        <canvas *ngSwitchCase="'slow'" class="block_yellow"> {{service.status}}&nbsp;&nbsp; </canvas>
        <canvas *ngSwitchCase="'error'" class="block_red"> {{service.status}} </canvas>
        <canvas *ngSwitchCase="'offline'" class="block_blank"> {{service.status}} </canvas>
      </ng-container>
      &nbsp;&nbsp;
      {{service.name}},
      <br>
    </ng-container>
  </div>
  
  <p>
    <button type="button" (click)="goBack()">Zurück</button>
    <button type="button" (click)="goBack">Neustart</button>
  </p>
</div>