/* Global Styles */
* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #264D73;
	font-size: 2.5rem;
}

h2,
h3 {
	color: #444;
	font-weight: lighter;
	margin-left: 8px;
	margin-bottom: 0px;
}

h3 {
	font-size: 1.3rem;
}

body {
	padding: 0rem;
	max-width: 2000px;
	margin: 0;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.badge {
	color: rgb(0, 0, 238);
}

@media (min-width: 600px) {
	body {
		padding: 0;
	}
}

.content {
	margin-left: 10px;
}

button {
	background-color: #ffffff;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	padding: 1rem;
	line-height: 36px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    padding: 0 16px;
    overflow: visible;
	margin: 0.25rem 1rem;
}

button:hover {
	background-color: #fafafa;
}

.mat-typography {
	font: 400 14px/20px Roboto, sans-serif;
	letter-spacing: 0em;
	padding: 0 !important;
	margin: 0;
}

.mdc-list {
	padding: 0 !important;
}

nav a.active {
	background-color: black;
	color: white;
}

hr {
	margin: 1.5rem 0;
}

input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5rem;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
html,
body {
	height: 100%;
}

body {
	margin: 0px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body,
input[text] {
	color: #333;
	font-family: Cambria, Georgia, serif;
}

.dot_fast,
.dot_online,
.dot_running {
	width: 15px;
	height: 15px;
	background-color: #019701;
	border-radius: 50%;
	border: 1px solid gray;
	display: inline-block;
}
.dot_slow2 {
	width: 15px;
	height: 15px;
	background-color: #eab102;
	border-radius: 50%;
	border: 1px solid gray;
	display: inline-block;
	margin-right: 4px;
}

.dot_slow {
	width: 15px;
	height: 15px;
	background-color: #eab102;
	border-radius: 50%;
	border: 1px solid gray;
	display: inline-block;
}

.dot_error {
	width: 15px;
	height: 15px;
	background-color: #e80101;
	border-radius: 50%;
	border: 1px solid gray;
	display: inline-block;
}

.dot_offline {
	width: 15px;
	height: 15px;
	background-color: #151619;
	border-radius: 50%;
	display: inline-block;
}

.dot_dummy {
	width: 15px;
	height: 15px;
	background-color: rgb(255, 34, 255);
	border-radius: 50%;
	display: inline-block;
}
.square_fast,
.square_online {
	width: 1em;
	height: 1em;
	background-color: #019701;
	display: inline-block;
}

.square_slow {
	width: 1em;
	height: 1em;
	background-color: #eab102;
	display: inline-block;
}

.square_error {
	width: 1em;
	height: 1em;
	background-color: #e80101;
	display: inline-block;
}


.square_offline {
	width: 1em;
	height: 1em;
	background-color: #151619;
	display: inline-block;
}

.colorRunning1 {
	width: 10em;
	background-color: #151619;
}

.colorStatus0,
.colorRunning0 {
	width: 10em;
	background-color: #019701;
}

.colorStatus1 {
	width: 10em;
	background-color: #eab102;
}

.colorStatus2 {
	width: 10em;
	background-color: #e80101;
}

.bar {
	height: 1em;
	padding: 0px;
}

mat-form-field {
	margin-bottom: -20px;
	width: 400px;
}

header {
	background-color: #fff;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

form {
	padding: 5px 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.box-tile {
	display: flex;
	flex-direction: row;
	height: 100%;

}

.area-left {
	width: 20px;
	border-right: 1px solid lightgray;

}

.area-right {
	background-color: #fafafa;
	width: 100%;
	height: inherit;
	padding-left: 5px;
}

.area-right:hover {
	background-color: #ffffff;
}

.dummy_style {
	background-color: #fafafa;
	border: none;
	box-shadow: none;
	border-radius: none;
	cursor: pointer !important;
	font-size: 1.2rem;
	padding: 0rem;
	margin: 0;
	line-height: 0.8;
	width: fit-content;
	height: fit-content;
}